<br><br><right><h1 style="font-size:4em;color:#2467C0">DAY 10 - SHOOTING ANALYSIS USING THE SHOOTING DATASET</h1></right>
<br>
<table>
<col width="550">
<col width="450">
<tr>
This dataset contains information about the shootings that took place.

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\seyi\Desktop\MY DATA SCIENCE WORKS, TUTORIAL AND JOURNEY\100 days of DS\Resources\Projects\Data Science Analysis\Dataset\shootings.csv")

In [8]:
df

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns

# Data Cleaning

In [9]:
df.isnull()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4891,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4892,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4893,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4894,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df.isnull().sum()

id                         0
name                       0
date                       0
manner_of_death            0
armed                      0
age                        0
gender                     0
race                       0
city                       0
state                      0
signs_of_mental_illness    0
threat_level               0
flee                       0
body_camera                0
arms_category              0
dtype: int64

# Covert the 'id' column to the 'case' and show the number of cases by states

In [11]:
tmp_df = df[['id','state']]
tmp_df = tmp_df.groupby('state', as_index=False).count()
tmp_df = tmp_df.rename(columns={'id':'case'})

In [12]:
tmp_df.head()

  state  case
0    AK    36
1    AL    95
2    AR    73
3    AZ   222
4    CA   701

# Show the value count of the gender

In [13]:
df['gender'].value_counts()

M    4673
F     222
Name: gender, dtype: int64

# Show the males only and the females only

In [14]:
# Males only 
df[df['gender'] == 'M']

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,5915,Michael Thomas,2020-06-11,shot,unknown,62.0,M,Black,Lancaster,CA,False,undetermined,Not fleeing,False,Unknown
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns

In [15]:
# Females only 
df[df['gender'] == 'F']

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,White,Burlington,IA,False,other,Not fleeing,True,Unarmed
51,100,Kristiana Coignard,2015-01-22,shot and Tasered,knife,17.0,F,White,Longview,TX,True,other,Not fleeing,False,Sharp objects
59,20,Jessie Hernandez,2015-01-26,shot,unknown,17.0,F,Hispanic,Denver,CO,False,other,Not fleeing,False,Unknown
63,111,Tiffany Terry,2015-01-27,shot,knife,39.0,F,White,Omaha,NE,True,attack,Not fleeing,False,Sharp objects
79,118,Yuvette Henderson,2015-02-03,shot,gun,38.0,F,Black,Emeryville,CA,False,attack,Car,False,Guns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4809,5808,Sandra Lee Harmon,2020-05-05,shot,gun,56.0,F,White,Half Moon Bay,CA,False,attack,Not fleeing,False,Guns
4855,5875,Tracy Drowne,2020-05-26,shot,gun,42.0,F,White,Orlando,FL,False,attack,Not fleeing,False,Guns
4865,5844,Heba Momtaz Al-Azhari,2020-05-29,shot,knife,22.0,F,Other,Temple Terrace,FL,True,attack,Not fleeing,False,Sharp objects
4878,5898,Mary Lawrence,2020-06-03,shot,knife,39.0,F,White,Poteau,OK,False,other,Not fleeing,False,Sharp objects
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed

# Show the value count for the manner of deaths

In [16]:
df['manner_of_death'].value_counts()

shot                4647
shot and Tasered     248
Name: manner_of_death, dtype: int64

# Show the value count for the race

In [19]:
df['race'].value_counts()

White       2476
Black       1298
Hispanic     902
Asian         93
Native        78
Other         48
Name: race, dtype: int64

# Show the Arms category count

In [20]:
df['arms_category'].value_counts()

Guns                     2764
Sharp objects             818
Unknown                   418
Unarmed                   348
Other unusual objects     192
Blunt instruments         122
Vehicles                  121
Multiple                   54
Piercing objects           29
Electrical devices         24
Explosives                  4
Hand tools                  1
Name: arms_category, dtype: int64

# Combine race and other attributes (signs of mental illness, flee, etc.)

In [48]:
df['signs_of_mental_illness'].value_counts()

False    3792
True     1103
Name: signs_of_mental_illness, dtype: int64

In [29]:
df[['race', 'signs_of_mental_illness']].groupby(['race']).head()

         race  signs_of_mental_illness
0       Asian                     True
1       White                    False
2    Hispanic                    False
3       White                     True
4    Hispanic                    False
5       White                    False
6    Hispanic                    False
7       White                    False
8       White                    False
9       Black                    False
11      Black                    False
12      Black                     True
14      Black                    False
17      Black                    False
20   Hispanic                    False
22   Hispanic                    False
38      Other                    False
64     Native                    False
69      Asian                     True
152     Asian                    False
159     Asian                    False
212    Native                    False
263     Asian                     True
292    Native                     True
324     Other                     True
329     Other                    False
349     Other                    False
383     Other                    False
431    Native                    False
500    Native                     True

In [47]:
df['flee'].value_counts()

Not fleeing    3073
Car             820
Foot            642
Other           360
Name: flee, dtype: int64

In [43]:
df[['race', 'flee']].groupby(['race']).head()

         race         flee
0       Asian  Not fleeing
1       White  Not fleeing
2    Hispanic  Not fleeing
3       White  Not fleeing
4    Hispanic  Not fleeing
5       White  Not fleeing
6    Hispanic          Car
7       White  Not fleeing
8       White  Not fleeing
9       Black  Not fleeing
11      Black  Not fleeing
12      Black  Not fleeing
14      Black         Foot
17      Black  Not fleeing
20   Hispanic  Not fleeing
22   Hispanic  Not fleeing
38      Other  Not fleeing
64     Native  Not fleeing
69      Asian  Not fleeing
152     Asian  Not fleeing
159     Asian  Not fleeing
212    Native          Car
263     Asian  Not fleeing
292    Native         Foot
324     Other  Not fleeing
329     Other  Not fleeing
349     Other  Not fleeing
383     Other  Not fleeing
431    Native  Not fleeing
500    Native         Foot

In [49]:
df['body_camera'].value_counts()

False    4317
True      578
Name: body_camera, dtype: int64

In [50]:
df[['race', 'body_camera']].groupby(['race']).head()

         race  body_camera
0       Asian        False
1       White        False
2    Hispanic        False
3       White        False
4    Hispanic        False
5       White        False
6    Hispanic        False
7       White        False
8       White         True
9       Black        False
11      Black        False
12      Black        False
14      Black         True
17      Black        False
20   Hispanic        False
22   Hispanic        False
38      Other        False
64     Native        False
69      Asian        False
152     Asian        False
159     Asian        False
212    Native        False
263     Asian        False
292    Native        False
324     Other         True
329     Other        False
349     Other        False
383     Other        False
431    Native        False
500    Native        False

# Create a 'year', 'month', 'day' and 'day of week' column

In [52]:
df['new_date'] = pd.to_datetime(df['date'])
df['year'] = df['new_date'].dt.year
df['month'] = df['new_date'].dt.month
df['day'] = df['new_date'].dt.day
df['day_of_week'] = df['new_date'].dt.day_name()

In [53]:
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed,2015-01-03,2015,1,3,Saturday
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,2015-01-04,2015,1,4,Sunday
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects,2015-01-04,2015,1,4,Sunday

# Cases that happend in 2020

In [67]:
df[df['year'] == 2020]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
4521,5344,Derrick A. Elseth,2020-01-01,shot,gun,24.0,M,White,Richmond County,VA,False,other,Not fleeing,False,Guns,2020-01-01,2020,1,1,Wednesday
4522,5403,Gerardo Antonio Conchas-Bustas,2020-01-01,shot,knife,20.0,M,Other,Denver,CO,False,attack,Not fleeing,True,Sharp objects,2020-01-01,2020,1,1,Wednesday
4523,5342,Gabriel Strickland,2020-01-01,shot and Tasered,toy weapon,25.0,M,White,Grass Valley,CA,True,attack,Not fleeing,False,Other unusual objects,2020-01-01,2020,1,1,Wednesday
4524,5339,Jeffery Dale Millsap,2020-01-02,shot,gun,26.0,M,White,Holt,MO,False,attack,Car,False,Guns,2020-01-02,2020,1,2,Thursday
4525,5349,Jamari Daiwon Tarver,2020-01-02,shot,vehicle,26.0,M,Black,North Las Vegas,NV,False,attack,Car,True,Vehicles,2020-01-02,2020,1,2,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices,2020-06-12,2020,6,12,Friday
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns,2020-06-12,2020,6,12,Friday
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed,2020-06-13,2020,6,13,Saturday
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns,2020-06-13,2020,6,13,Saturday
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns,2020-06-15,2020,6,15,Monday

# Show the cases that happend on Friday

In [61]:
df[df['day_of_week'] == 'Friday']

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
19,38,Jimmy Foreman,2015-01-09,shot,gun,71.0,M,White,England,AR,False,attack,Not fleeing,False,Guns,2015-01-09,2015,1,9,Friday
20,325,Andy Martinez,2015-01-09,shot,gun,33.0,M,Hispanic,El Paso,TX,False,attack,Not fleeing,False,Guns,2015-01-09,2015,1,9,Friday
37,67,Scott Hall,2015-01-16,shot,gun,41.0,M,White,Mabank,TX,False,attack,Car,False,Guns,2015-01-16,2015,1,16,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4868,5850,Momodou Lamin Sisay,2020-05-29,shot,gun,39.0,M,Black,Snellville,GA,False,attack,Car,False,Guns,2020-05-29,2020,5,29,Friday
4869,5879,Jarvis Sullivan,2020-05-29,shot,vehicle,44.0,M,Black,Yulee,FL,False,attack,Car,False,Vehicles,2020-05-29,2020,5,29,Friday
4882,5903,Benjamin Ballard,2020-06-05,shot,gun,42.0,M,White,Mustang,OK,False,attack,Not fleeing,False,Guns,2020-06-05,2020,6,5,Friday
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices,2020-06-12,2020,6,12,Friday
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns,2020-06-12,2020,6,12,Friday

# Cases that happend in 2015 on Wednesday

In [70]:
df[(df.year == 2015) & (df.day_of_week == 'Wednesday')]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
11,21,Ron Sneed,2015-01-07,shot,gun,31.000000,M,Black,Freeport,TX,False,attack,Not fleeing,False,Guns,2015-01-07,2015,1,7,Wednesday
12,22,Hashim Hanif Ibn Abdul-Rasheed,2015-01-07,shot,knife,41.000000,M,Black,Columbus,OH,True,other,Not fleeing,False,Sharp objects,2015-01-07,2015,1,7,Wednesday
13,25,Nicholas Ryan Brickman,2015-01-07,shot,gun,30.000000,M,White,Des Moines,IA,False,attack,Car,False,Guns,2015-01-07,2015,1,7,Wednesday
14,27,Omarr Julian Maximillian Jackson,2015-01-07,shot,gun,37.000000,M,Black,New Orleans,LA,False,attack,Foot,True,Guns,2015-01-07,2015,1,7,Wednesday
26,49,Marcus Golden,2015-01-14,shot,unknown,24.000000,M,Black,St. Paul,MN,False,attack,Not fleeing,False,Unknown,2015-01-14,2015,1,14,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,1054,Florencio Lucero,2015-12-02,shot,gun,36.000000,M,Hispanic,Deming,NM,False,attack,Not fleeing,False,Guns,2015-12-02,2015,12,2,Wednesday
904,1069,Christopher Higdon,2015-12-09,shot,gun,66.000000,M,White,Leitchfield,KY,False,attack,Not fleeing,False,Guns,2015-12-09,2015,12,9,Wednesday
928,1097,Bryant Neil Duncan,2015-12-16,shot,knife,37.117931,M,White,Camarillo,CA,True,attack,Not fleeing,False,Sharp objects,2015-12-16,2015,12,16,Wednesday
948,1118,Kevin Matthews,2015-12-23,shot,unarmed,35.000000,M,Black,Dearborn,MI,True,other,Not fleeing,False,Unarmed,2015-12-23,2015,12,23,Wednesday
963,1135,Fred Perez,2015-12-30,shot,knife,55.000000,M,Hispanic,Fresno,CA,False,attack,Not fleeing,True,Sharp objects,2015-12-30,2015,12,30,Wednesday

# Show the cases that happend at ages 30 and above

In [65]:
df[df['age'] > 30]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,2015-01-04,2015,1,4,Sunday
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects,2015-01-04,2015,1,4,Sunday
7,15,Brock Nichols,2015-01-06,shot,gun,35.0,M,White,Assaria,KS,False,attack,Not fleeing,False,Guns,2015-01-06,2015,1,6,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,5903,Benjamin Ballard,2020-06-05,shot,gun,42.0,M,White,Mustang,OK,False,attack,Not fleeing,False,Guns,2020-06-05,2020,6,5,Friday
4885,5908,Jarrid Hurst,2020-06-07,shot,knife,35.0,M,White,Industry,CA,True,other,Not fleeing,False,Sharp objects,2020-06-07,2020,6,7,Sunday
4886,5911,Lewis Ruffin,2020-06-09,shot,gun,38.0,M,Black,Orlando,FL,False,attack,Other,False,Guns,2020-06-09,2020,6,9,Tuesday
4889,5915,Michael Thomas,2020-06-11,shot,unknown,62.0,M,Black,Lancaster,CA,False,undetermined,Not fleeing,False,Unknown,2020-06-11,2020,6,11,Thursday
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns,2020-06-15,2020,6,15,Monday

# Show those who had body cam and who didn't

In [73]:
# Had body camera on them
df[df['body_camera'] == True]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,White,Burlington,IA,False,other,Not fleeing,True,Unarmed,2015-01-06,2015,1,6,Tuesday
14,27,Omarr Julian Maximillian Jackson,2015-01-07,shot,gun,37.0,M,Black,New Orleans,LA,False,attack,Foot,True,Guns,2015-01-07,2015,1,7,Wednesday
16,32,James Dudley Barker,2015-01-08,shot,shovel,42.0,M,White,Salt Lake City,UT,False,attack,Not fleeing,True,Blunt instruments,2015-01-08,2015,1,8,Thursday
18,37,Thomas Hamby,2015-01-08,shot,gun,49.0,M,White,Syracuse,UT,False,attack,Not fleeing,True,Guns,2015-01-08,2015,1,8,Thursday
24,46,John Edward O'Keefe,2015-01-13,shot,gun,34.0,M,White,Albuquerque,NM,False,attack,Foot,True,Guns,2015-01-13,2015,1,13,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4853,5857,Jason Jesse Gallegos,2020-05-26,shot,gun,37.0,M,White,Lansing,MI,True,attack,Not fleeing,True,Guns,2020-05-26,2020,5,26,Tuesday
4861,5846,Modesto Reyes,2020-05-27,shot and Tasered,gun,35.0,M,Black,Jefferson Parish,LA,False,attack,Other,True,Guns,2020-05-27,2020,5,27,Wednesday
4873,5842,David McAtee,2020-06-01,shot,gun,53.0,M,Black,Louisville,KY,False,attack,Other,True,Guns,2020-06-01,2020,6,1,Monday
4877,5897,Tyquarn Graves,2020-06-02,shot,gun,33.0,M,Black,Brooklyn,NY,False,other,Not fleeing,True,Guns,2020-06-02,2020,6,2,Tuesday
4890,5916,Rayshard Brooks,2020-06-12,shot,Taser,27.0,M,Black,Atlanta,GA,False,attack,Foot,True,Electrical devices,2020-06-12,2020,6,12,Friday

In [74]:
# Did not have body camera on them
df[df['body_camera'] == False]

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,new_date,year,month,day,day_of_week
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns,2015-01-02,2015,1,2,Friday
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed,2015-01-03,2015,1,3,Saturday
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,2015-01-04,2015,1,4,Sunday
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects,2015-01-04,2015,1,4,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,5915,Michael Thomas,2020-06-11,shot,unknown,62.0,M,Black,Lancaster,CA,False,undetermined,Not fleeing,False,Unknown,2020-06-11,2020,6,11,Thursday
4891,5925,Caine Van Pelt,2020-06-12,shot,gun,23.0,M,Black,Crown Point,IN,False,attack,Car,False,Guns,2020-06-12,2020,6,12,Friday
4892,5918,Hannah Fizer,2020-06-13,shot,unarmed,25.0,F,White,Sedalia,MO,False,other,Not fleeing,False,Unarmed,2020-06-13,2020,6,13,Saturday
4893,5921,William Slyter,2020-06-13,shot,gun,22.0,M,White,Kansas City,MO,False,other,Other,False,Guns,2020-06-13,2020,6,13,Saturday
4894,5924,Nicholas Hirsh,2020-06-15,shot,gun,31.0,M,White,Lawrence,KS,False,attack,Car,False,Guns,2020-06-15,2020,6,15,Monday